{% extends "PizzaNightManagementBundle::layout.html.twig" %}

{% block content %}
    <h1>Listado de asistentes</h1>

    {% for attendee in attendees %}
        <div class="attendee" style="border: 1px solid #808080; padding: 3px">
            {% if(attendee.status==0) %}
                <img src="{{ asset("bundles/pizzanightmanagement/images/icon4.gif") }}" align="top" />
            {% elseif(attendee.status==1) %}
                <img src="{{ asset("bundles/pizzanightmanagement/images/icon_status_green.png") }}" align="top" />
            {% endif %}
            &nbsp;{{ attendee.contact.name }}</div>
    {% else %}
        No hay asistentes
    {% endfor %}

    <div align="right">
        <a href="{{ path("_events") }}">Volver</a>
    </div>
{% endblock content %}