{% extends "PizzaNightManagementBundle::layout.html.twig" %}

{% block subtitle %} - Eventos{% endblock %}

{% block content %}
    <h1>Listado de eventos</h1>

    <section>
    {% for event in events %}
        <section class="event">
            <aside class="event-date">
                <p>{{ event.date|date("l dS F Y @ H:i") }}</p>
            </aside>

            <section class="event-name">
                {{ event.name }}
                <aside class="actions">
                    <a href="{{ path('_attendees', {"id": event.id}) }}">Asistentes</a> | <a href="{{ path('_events') }}">Lista final</a>
                </aside>
            </section>
        </section>
    {% else %}
        <section class="no-data">
            <p>No hay eventos</p>
        </section>
    {% endfor %}
    </section>
{% endblock content %}